[submodule "backend"]
	path = backend
	url = ../movie-finder-backend.git

[submodule "frontend"]
	path = frontend
	url = ../movie-finder-frontend.git

[submodule "docs"]
	path = docs
	url = ../movie-finder-docs.git

[submodule "infrastructure"]
	path = infrastructure
	url = ../movie-finder-infrastructure.git
